<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>finalproject.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <display-name>final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StulogServlet</display-name>
    <servlet-name>StulogServlet</servlet-name>
    <servlet-class>finalproject.StulogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StulogServlet</servlet-name>
    <url-pattern>/StulogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TpoServlet</display-name>
    <servlet-name>TpoServlet</servlet-name>
    <servlet-class>finalproject.TpoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TpoServlet</servlet-name>
    <url-pattern>/TpoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuRegister</display-name>
    <servlet-name>StuRegister</servlet-name>
    <servlet-class>finalproject.StuRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuRegister</servlet-name>
    <url-pattern>/StuRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStuServlet</display-name>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>finalproject.AddStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/AddStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>finalproject.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>finalproject.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailsServlet</display-name>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <servlet-class>finalproject.ViewDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailsServlet</servlet-name>
    <url-pattern>/ViewDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>finalproject.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/DemoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddResultServlet</display-name>
    <servlet-name>AddResultServlet</servlet-name>
    <servlet-class>finalproject.AddResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResultServlet</servlet-name>
    <url-pattern>/AddResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoResServlet</display-name>
    <servlet-name>DemoResServlet</servlet-name>
    <servlet-class>finalproject.DemoResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoResServlet</servlet-name>
    <url-pattern>/DemoResServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterMarksServlet</display-name>
    <servlet-name>EnterMarksServlet</servlet-name>
    <servlet-class>finalproject.EnterMarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterMarksServlet</servlet-name>
    <url-pattern>/EnterMarksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoMarksServlet</display-name>
    <servlet-name>DemoMarksServlet</servlet-name>
    <servlet-class>finalproject.DemoMarksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoMarksServlet</servlet-name>
    <url-pattern>/DemoMarksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddResultsServlet</display-name>
    <servlet-name>AddResultsServlet</servlet-name>
    <servlet-class>finalproject.AddResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResultsServlet</servlet-name>
    <url-pattern>/AddResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentPageServlet</display-name>
    <servlet-name>StudentPageServlet</servlet-name>
    <servlet-class>finalproject.StudentPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPageServlet</servlet-name>
    <url-pattern>/StudentPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServletGlue</display-name>
    <servlet-name>DemoServletGlue</servlet-name>
    <servlet-class>finalproject.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServletGlue</servlet-name>
    <url-pattern>/DemoServletGlue</url-pattern>
  </servlet-mapping>
</web-app>